@charset "UTF-8";

@media screen  and (min-width:1024px) {
    body{
        font-size: 11pt;
    }
    main{
        height: 550px;
        width: 350px;
    }
    .picture{
        height:170px;
        width: 350px;
    }
    .conteudo{
        margin-top: 15px;
        height: 350px;
    }
    .confirm{
        width: 270px;
    }
    .annual-plan{
        width: 260px;
    }
}